{% extends 'index.html' %}

{% block content %}
    <h1>XQuery kontsultak egin</h1>
    <form method="POST">
        <div class="xquery-kontsulta">
            <table>
                <tbody>
                    <tr>
                        <td><label class="form-label">XQuery kontsulta</label></td>
                        <td><textarea class="form-control" name="xquery"></textarea></td>
                    </tr>
                </tbody>
            </table>
            
            {% csrf_token %}
            <button class="liburua_sortu btn btn-success" type="submit">Kontsulta egin</button>
        </div>
    </form>
    {% include 'messages.html' %}
    <textarea>{{ output }}</textarea>
{% endblock %}