{% extends 'books/index.html' %}

{% block estekak %}
    <h1>Liburuak Ikusi</h1>
    
    <table id="book_taula">
        <thead>
            <tr>
                <th>title</th>
                <th>Year</th>
                <th>last</th>
                <th>first</th>
                <th>editor</th>
                <th>publisher</th>
                <th>price</th>
            </tr>
        </thead>
    <tbody>
        {% for lib in liburuak %}
        <tr>
            <td>{{ lib.title }}</td>
            <td>{{ lib.year }}</td>
            <td>{{ lib.last }}</td>
            <td>{{ lib.first }}</td>
            <td>{{ lib.editor }}</td>
            <td>{{ lib.publisher }}</td>
            <td>{{ lib.price }}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
{% endblock %}
